*.cs linguist-language=C#
Aplicacao PROVA/bin/Debug/net8.0/Aplicacao c#.dll merge=ours
Aplicacao PROVA/bin/Debug/net8.0/Aplicacao c#.exe merge=ours
Aplicacao PROVA/bin/Debug/net8.0/Aplicacao c#.pdb merge=ours
Aplicacao PROVA/obj/Debug/net8.0/Aplicacao c#.dll merge=ours
Aplicacao PROVA/obj/Debug/net8.0/Aplicacao c#.pdb merge=ours
Aplicacao PROVA/obj/Debug/net8.0/apphost.exe merge=ours
Aplicacao PROVA/obj/Debug/net8.0/ref/Aplicacao c#.dll merge=ours
Aplicacao PROVA/obj/Debug/net8.0/refint/Aplicacao c#.dll merge=ours

