@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.tela {
    overflow: scroll;
}

body {
    width: 100%;
}

#conteudo {
    height: 100%;
    width: 100%;
    margin-left: 10vw;
}

.paginaIn-vendas {
    display: flex;
    width: 90vw;
    height: 95vh;
    margin: 30px 40px 40px 2%;
    flex-direction: column;
}

    .paginaIn-vendas > h1 {
        margin-bottom: 10px;
        color: #565555fd;
    }

.nomeTodasVendas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 11vh;
    padding: 18px;
    border-bottom: 1.5px solid #cdd2df8e;
    background-color: #e4e5e67d
}

    .nomeTodasVendas > h2 {
        font-size: 18px;
        color: #5e5ec4ce;
    }

.infoVendas {
    display: flex;
    margin-top: 7px;
    width: 100%;
    height: 94%;
    padding: 14px 19px 14px 19px;
    flex-direction: column;
}

.titulosVendas {
    display: flex;
    width: 100%;
    height: 50px;
    border-top: 1.5px solid #cdd2df8e;
    border-bottom: 1.4px solid #cdd2df8e;
    flex-direction: row;
}

.spacetitle1 {
    display: flex;
    width: 70px;
    height: 100%;
    border-left: 1.5px solid #cdd2df8e;
    padding: 7px;
    align-items: center;
}

.spacetitle2 {
    display: flex;
    width: 240px;
    height: 100%;
    border-left: 1.5px solid #cdd2df8e;
    padding: 7px;
    align-items: center;
}

.spacetitle3 {
    display: flex;
    width: 120px;
    height: 100%;
    border-left: 1.5px solid #cdd2df8e;
    padding: 7px;
    align-items: center;
}

.spacetitle4 {
    display: flex;
    width: 600px;
    height: 100%;
    border-left: 1.5px solid #cdd2df8e;
    padding: 7px;
    align-items: center;
}

.spacetitle5 {
    display: flex;
    width: 200px;
    height: 100%;
    border-left: 1.5px solid #cdd2df8e;
    border-right: 1.5px solid #cdd2df8e;
    padding: 7px;
    align-items: center;
}

.spacetitle1 > h2 {
    font-size: 16px;
    color: #717171;
}

.spacetitle2 > h2 {
    font-size: 16px;
    color: #717171;
}

.spacetitle3 > h2 {
    font-size: 16px;
    color: #717171;
}

.spacetitle4 > h2 {
    font-size: 16px;
    color: #717171;
}

.spacetitle5 > h2 {
    font-size: 16px;
    color: #717171;
}

.espaçoInfo {
    display: flex;
    width: 100%;
    height: 140px;
    border-bottom: 1.5px solid #cdd2df8e;
    border-left: 1.5px solid #cdd2df8e;
    border-right: 1.5px solid #cdd2df8e;
    border-top: 1.4px solid #cdd2df8e;
}

#ultimoInfo {
    border-bottom: 1.5px solid #cdd2df8e;
}

.varInfo1 {
    display: flex;
    width: 70px;
    height: 100%;
    border-right: 1.5px solid #cdd2df8e;
    padding: 8px;
    align-items: flex-start;
}

.varInfo2 {
    display: flex;
    width: 240.4px;
    height: 100%;
    border-right: 1.5px solid #cdd2df8e;
    padding: 8px;
    align-items: flex-start;
}

.varInfo3 {
    display: flex;
    width: 120px;
    height: 100%;
    border-right: 1.5px solid #cdd2df8e;
    padding: 8px;
    align-items: flex-start;
}

.varInfo4 {
    display: flex;
    width: 602px;
    height: 100%;
    border-right: 1.5px solid #cdd2df8e;
    padding: 8px;
    align-items: flex-start;
}

.varInfo5 {
    display: flex;
    width: 197px;
    height: 100%;
    padding: 8px;
    align-items: flex-start;
}

.varInfo1 > h2 {
    font-size: 14px;
    color: #717171;
}

.varInfo2 > h2 {
    font-size: 14px;
    color: #717171;
}

.varInfo3 > h2 {
    font-size: 14px;
    color: #717171;
}

.varInfo4 > h2 {
    font-size: 14px;
    color: #717171;
}

.varInfo5 > h2 {
    font-size: 14px;
    color: #717171;
}

.todas-vendas {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 1240px;
    height: max-content;
    background-color: #f4efef;
    box-shadow: 9px 9px 26px #bebdbdab;
    border-radius: 9px;
    border: none;
}

.todos-ven {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 1240px;
    height: 44%;
    background-color: #f4efef;
    box-shadow: 9px 9px 26px #bebdbdab;
    border-radius: 9px;
    border: none;
}

.nomeTodosven {
    display: flex;
    justify-content: left;
    flex-direction: row;
    width: 100%;
    height: 11vh;
    padding: 18px;
    border-bottom: 1.5px solid #cdd2df8e;
    background-color: #e4e5e67d
}

.h2Nomeven {
    display: flex;
    align-items: center;
    height: 100%;
    width: 200px;
}

    .h2Nomeven > h2 {
        font-size: 18px;
        color: #5e5ec4ce;
    }

.infoven {
    display: flex;
    width: 100%;
    height: 85%;
    padding: 24px 19px 14px 19px;
    flex-direction: column;
}

.iconven {
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
}

    .iconven > i {
        font-size: 60px;
        color: #8f8f8fd9;
    }

.mensagemven {
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
}

    .mensagemven > h2 {
        font-size: 17px;
        color: #5c5c5ce8;
    }

.divbuttonTodosven {
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
}

.iconButtonven {
    display: flex;
    height: 73%;
    width: 47px;
    background-color: #c39f69c0;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}

    .iconButtonven > i {
        font-size: 27px;
        color: #fff;
        cursor: pointer;
    }

.buttonTodosven {
    width: 150px;
    height: 73%;
    background-color: #d1ac73c7;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.spanButtonven {
    color: #fff;
    font-size: 15px;
}

.infoVen {
    display: flex;
    width: 100%;
    height: 85%;
    padding: 24px 19px 14px 19px;
    flex-direction: column;
}

.iconVen {
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
}

    .iconVen > i {
        font-size: 60px;
        color: #8f8f8fd9;
    }

.mensagemVen {
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
}

    .mensagemVen > h2 {
        font-size: 17px;
        color: #5c5c5ce8;
    }

.divbuttonTodosVen {
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
}

.iconButtonVen {
    display: flex;
    height: 73%;
    width: 47px;
    background-color: #c39f69c0;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}

    .iconButtonVen > i {
        font-size: 27px;
        color: #fff;
        cursor: pointer;
    }

.buttonTodosVen {
    width: 150px;
    height: 73%;
    background-color: #d1ac73c7;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.spanButtonVen {
    color: #fff;
    font-size: 15px;
}
