@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main class="paginaIn-vendas">
    <h1>Controle de Vendas</h1>
    <div class="todos-ven">
        <div class="nomeTodosven">
            <div class="h2Nomeven">
                <h2>Todas as vendas</h2>
            </div>
        </div>
        <div class="infoVen">
            <span class="iconVen">
                <i class="bi bi-emoji-laughing"></i></i>
            </span>
            <div class="mensagemVen">
                <h2>Ainda não possui nenhuma venda no sistema !</h2>
            </div>
            <div class="divbuttonTodosVen">
                <span class="iconButtonVen">
                    <i class="bi bi-plus"></i>
                </span>
                <button class="buttonTodosVen"><span class="spanButtonVen">Fazer nova venda</span></button>
            </div>
        </div>
    </div>
    <!--{% endif %}-->
</main>
